.housing__container {
    display: flex;
    flex-direction: column;
}

.card-box {
    padding: 10px 0;
}

.card-box__header {
    font-size: 30px;
}

.card-box__button {
    padding: 5px 15px;
    min-width: 100px;
    height: 40px;
    font-size: 20px;
    border: none;
    background-color: lime;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin-top: 30px;
    transition: all 0.4s;
}

.card-box__button:focus, .card-box__button:active {
    outline: none;
}

.card-box__button:hover {
    /*background-color: limegreen;*/
    box-shadow: darkgreen 1px 1px 3px;
}

.card-box__image {
    width: 100%;
    height: 200px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.button {
    background-color: lime;
}
